.row
  - @palettes.each do |palette|
    =link_to palette do
      .savedPaletteContainer.col-md-4.col-md-offset-1
        .colors
          .primaryLightBack{style: "background: #{palette.light_primary}"}
          .primaryBack{style: "background: #{palette.primary}"}
          .primaryDarkBack{style: "background: #{palette.dark_primary}"}
          .accentBack{style: "background: #{palette.secondary}"}
        .info
          %span.name #{palette.name}
          %span.created_at #{palette.created_at.strftime("%d %b. %Y")}
