!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project2
    =csrf_meta_tags
    :javascript
      colorsJson = #{Color.json}



    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true


  %body.container-fluid
    .background
    .background2
    %header= render 'layouts/navigation'
    %main
      = yield
      = flash_messages


