!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name => 'viewport', :content => 'width=device-width, maximum-scale=1.0' }
    %title Material Design Colors
    =csrf_meta_tags
    :javascript
      colorsJson = #{Color.json}
    %link{rel: "stylesheet", href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type:"text/css"}
    %link{href:"https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true


  %body
    .overlay
      %h2
    .backgrounds
      .background1
      .background2
      .background3
      .background4
    %header= render 'layouts/navigation'
    %main
      = yield
      = flash_messages



