!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# %meta{ :name => 'viewport', :content => 'width=600px, maximum-scale=1.0' }
    %title Material Design Colors
    =csrf_meta_tags
    :javascript
      colorsJson = #{Color.json}



    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true


  %body
    .backgrounds
      .background1
      .background2
      .background3
      .background4
    %header= render 'layouts/navigation'
    %main
      = yield
      = flash_messages


